The history messages are as follows:
{{ context }}

Above messages contains the context of the current workspace and the infomation the current task may use.

You can extract some unspecified information from the above messages.

