{% include "context.j2" %}

Task:
{{ task }}

You should do the task using os or file operation in python code.
Only read files return the content of the file. Other operations return success or error message.